name: vite project deploy

# on:
#   pull_request:
#     types:
#       - closed
#     # Sequence of patterns matched against refs/heads
#     branches:
#       - master
#       - feature/**

on:
  push:
    branches:
      - feature/**

jobs:
  build:
    runs-on: ubuntu-latest
    environment: prod

    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@v4
      name: 检出代码

    - uses: pnpm/action-setup@v4
      name: 安装 pnpm
      with:
        version: latest
        run_install: false

    - name: 安装 Node.js
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'

    - name: 安装依赖
      run: |
        pnpm install

    - name: 编译
      run: |
        MS_CLARITY_ID=${{ vars.MS_CLARITY_ID }} pnpm build:prod
